body {
    padding-left: 12em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #05192e;
    background-color: #f6fafe }
  ul.navbar {
    position: fixed;
    top: 6em;
    left: 1em;
    width: 9em;
    height: 9em }


}
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
          
          
